<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block title %}
        <title>Biliotheque locale</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
        intial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <h1>R&T Dev</h1>
        {% block sidebar %}
            <h2> Menu </h2>
            <ul id="menu">
                <li> <a href="{% url 'index' %}"> Home </a> </li>
                <li> <a href="{% url 'personnes' %}"> Personnes </a> </li>
                <li> <a href="{% url 'machines' %}"> Machines </a> </li>
            </ul>
        {% endblock %}

        {% load static %}
        <img src="{% static 'images/rtdev.png' %}"
        alt="logo" style="width:500px;height:200px;">
    {% block content %}
        Blabla de la premiere page
    {% endblock %}
    </body>
</html>

        