<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block title %}
        <title>Machine Monitoring Dashboard</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,
        intial-scale=1.0">
        {% load static %}
        <link rel="stylessheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
         <main>
    <section id="login">
      <h2>Login</h2>
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
      </form>
    </section>
  </main>
        {% block sidebar %}
            <h2> Menu </h2>
            <ul id="menu">
                <li> <a href="{% url ’index’ %}"> Home </a> </li>
            </ul>
        {% endblock %}

        {% load static %}
        <img src="{% static ’computerapp/images/logo_200px.png’ %}"
        alt="logo" style="width:200px;height:200px;">
    {% block content %}
        Blablade la premiere page
    {% endblock %}
        <footer>
    <p>&copy; 2023 R&T enterprise. trial page</p>
  </footer>
    </body>
</html>

        
